
#icoder{
  color: orange;
}

.libertinus-mono-regular {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
#text-underline{
  text-decoration: none;
  color: aqua;
  font-size: large;
}
.navigation .active{
  border-radius: 7px;
  padding: 8px 15px;
  border: 1px solid blueviolet;
  box-shadow: 2px 2px 5px blueviolet;
  transition: 1s ease-in-out;
}
 Footer .active{
  border-radius: 7px;
  padding: 5px 15px;
  border: 1px solid blueviolet;
  box-shadow: 2px 2px 5px blueviolet;
  transition: 1s ease-in-out;
}
.container-about{
  height: 90%;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.terms-image{
  width: 100%;
  height: 450px;
  background-image: url(/public/images/Terms2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 2px solid red; */
  border-radius: 10px;

}
.services-image{
  width: 100%;
  height: 450px;
  background-image: url(/public/images/services.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.wrapper::search-text {
  background-color: black;
  color: white;
}



